<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Filmes (em python/flask)</h1>
    <div class="cards-container">
        {% for movie in movies %}
        <div class="card">
            <img src="{{ movie.posterurl }}" alt="{{ movie.name }}" class="poster">
            <div class="card-content">
                <h2>{{ movie.name }}</h2>
                <p class="overview">{{ movie.overview }}</p>
                <p class="genres"><strong>Gêneros:</strong> {{ movie.genres }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>